src/templates/pages/authorization_signup.pug
extends ../extend/default
block variables
    - var title = 'Barbers sign up page';
    - var bodyClass = 'not-logged';
block main
    main(data-page="authorization")
        .wrapper
            section.sign-up
                h1.title Пройдите регистрацию
                form.authorization-box.signup
                    .authorization-box__head
                        label.user
                            input(type="radio", name="type", value="user", checked)
                            .button Я пользователь
                        label.specialist
                            input(type="radio", name="type", value="specialist")
                            .button Я специалист
                        label.saloon
                            input(type="radio", name="type", value="saloon")
                            .button Я представляю салон
                    .authorization-box__fields
                        label.form-input.userName(data-validation="required", data-validation-type="text")
                            span.label-title Имя
                            input.animatedPlaceholder(type="text", placeholder="Введите имя", name="userName",
                                                        data-validation-condition="min-length", data-min-length="1")
                            .error
                        label.form-input.userEmail(data-validation="required", data-validation-type="email")
                            span.label-title E-mail
                            input.animatedPlaceholder(type="email", placeholder="Введите E-mail", name="userEmail")
                            .error
                        label.form-input.userPassword(data-validation="required", data-validation-type="text",
                                                        data-validation-text="Минимальная длинна пароля - 6 символов")
                            span.label-title Пароль
                            input.animatedPlaceholder(type="password", placeholder="Придумайте пароль", name="userPassword",
                                                            data-validation-condition="min-length", data-min-length="6")
                            .error
                        label.form-input.captcha(data-validation="required", data-validation-type="text",
                                                    data-validation-text="Код не совпадает с кодом на картинке")
                            span.label-title Код с картинки
                            .input-container
                                img.captcha(src="img/captcha.png")
                                input.animatedPlaceholder(type="text", placeholder="Введите код", name="captcha",
                                                            data-validation-condition="equals", data-equals="zQSg2")
                            .error
                    button.authorization-box__button.validate-form-button(type="submit") Зарегистрироваться

www/authorization_signup.html
<!DOCTYPE html><html lang="ru"><head><meta name="format-detection" content="telephone=no"><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"><title>Barbers sign up page</title><link href="css/index.min.css?v=1.0.0" rel="stylesheet"></head><body class="not-logged"><!-- Global baseUrl and webpackManifest variables (for back-end purpose)--><script>window.baseUrl = location.origin;
window.webpackManifest = {
  "1": "js/chunks/54428880ec8df798ac3d.js",
  "2": "js/chunks/3401050adc18c6afd06b.js"
};</script><!-- SVG (can be submitted to separate .svg file for caching and minifying)--><svg style="position: absolute; width: 0; height: 0" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="icon-search" viewBox="0 0 17.207106781186667 17.207106781186557"><path d="M900.18 35.13C900.8299999999999 34.11 901.1999999999999 32.900000000000006 901.1999999999999 31.6C901.1999999999999 27.96 898.2399999999999 25 894.5999999999999 25C890.9599999999999 25 887.9999999999999 27.96 887.9999999999999 31.6C887.9999999999999 35.24 890.9599999999999 38.2 894.5999999999999 38.2C895.8299999999999 38.2 896.9899999999999 37.86 897.9799999999999 37.27L901.4399999999999 40.730000000000004L903.6099999999999 38.56ZM894.6 27.46C896.88 27.46 898.74 29.32 898.74 31.6C898.74 33.89 896.88 35.74 894.6 35.74C892.32 35.74 890.46 33.89 890.46 31.6C890.46 29.32 892.32 27.46 894.6 27.46Z "
          fill-opacity="1" transform="matrix(1,0,0,1,-887.3964466094067,-24.39644660940672)"></path></symbol><symbol id="icon-scissors" viewBox="0 0 13 14"><path d="M114.6323 3141.49627C115.44547 3142.30944 116.6617 3142.32358 117.40416 3141.5811200000003C117.96277 3141.0225100000002 118.17491000000001 3140.1174100000003 117.88499 3139.2618100000004C117.60215000000001 3138.3991400000004 116.97989 3138.2152900000006 116.68291 3137.3667600000003L116.58392 3137.0697800000003L116.84555 3137.1617C117.69408 3137.45868 117.87793 3138.0809400000003 118.73353 3138.3708500000002C119.60327 3138.66076 120.50837 3138.4486300000003 121.06698 3137.8900200000003C121.80944 3137.1475600000003 121.7953 3135.9313300000003 120.98213 3135.1181600000004C120.74171 3134.8777400000004 120.43766 3134.6868200000004 120.08409999999999 3134.5595500000004C119.07293999999999 3134.1989300000005 117.98398999999999 3134.5666200000005 117.48902 3135.3868600000005C117.20618 3135.8535500000007 116.95868999999999 3135.7050600000007 116.51321 3135.5424200000007L115.99702 3135.365640000001C115.28284000000001 3133.307960000001 114.44846000000001 3130.9179400000007 114.23632 3130.323970000001C113.90398 3129.355230000001 112.48270000000001 3129.574440000001 112.48270000000001 3129.574440000001L115.06364 3137.020270000001C115.22627 3137.4657500000008 115.36770000000001 3137.720310000001 114.90808000000001 3137.996080000001C114.08784000000001 3138.491050000001 113.71307000000002 3139.5729300000007 114.07369000000001 3140.598230000001C114.19390000000001 3140.944710000001 114.38482000000002 3141.248770000001 114.63230000000001 3141.496260000001ZM114.25754 3136.2566L113.66357 3134.5454L109.07445000000001 3132.94027C109.07445000000001 3132.94027 108.84818000000001 3134.36863 109.81691000000001 3134.70097C110.32603 3134.8848199999998 112.44735 3135.62021 114.25754 3136.2565999999997ZM118.25976 3136.05861C118.45068 3135.52828 119.11536 3135.27372 119.75883 3135.49292C120.39523 3135.7191900000003 120.75585000000001 3136.3343800000002 120.572 3136.87178C120.38108 3137.40211 119.70933000000001 3137.66374 119.07293 3137.43747C118.43653 3137.2111999999997 118.07591 3136.5960099999998 118.25976 3136.05861ZM115.69296 3136.05154C115.54447 3136.20003 115.30405 3136.20003 115.15556 3136.05154C115.01414 3135.91012 115.01414 3135.6697 115.16263 3135.52121C115.30404999999999 3135.37979 115.54446999999999 3135.37979 115.68588999999999 3135.52121C115.83437999999998 3135.6697 115.83437999999998 3135.91012 115.69295999999999 3136.05154ZM116.95161 3139.58708C117.17081 3140.2305499999998 116.91625 3140.8952299999996 116.37885 3141.07908C115.84852 3141.27 115.22627 3140.9023 115.01413 3140.26591C114.78786 3139.62951 115.03533999999999 3138.9577600000002 115.57982 3138.7668400000002C116.11722 3138.5829900000003 116.72533 3138.95069 116.95161 3139.5870800000002Z "
          fill-opacity="1" transform="matrix(1,0,0,1,-109,-3129)"></path></symbol><symbol id="icon-gps" viewBox="0 0 8 12"><path d="M519 1649.8C519 1651.8999999999999 520.73 1654.4099999999999 523 1658C525.27 1654.41 527 1651.9 527 1649.8C527 1647.7 525.1 1646 523 1646C520.9 1646 519 1647.7 519 1649.8ZM521.5 1650C521.5 1649.17 522.17 1648.5 523 1648.5C523.83 1648.5 524.5 1649.17 524.5 1650C524.5 1650.83 523.83 1651.5 523 1651.5C522.17 1651.5 521.5 1650.83 521.5 1650Z "
          fill-opacity="1" transform="matrix(1,0,0,1,-519,-1646)"></path></symbol><symbol id="icon-fb" viewBox="0 0 8 15"><path d="M574.25 276.99H575.94V283.76C575.94 283.89 576.0500000000001 284 576.1800000000001 284H579.0500000000001C579.1800000000001 284 579.2900000000001 283.89 579.2900000000001 283.76V277.02H581.2300000000001C581.3600000000001 277.02 581.4700000000001 276.93 581.4800000000001 276.81L581.7800000000001 274.31C581.7800000000001 274.25 581.7600000000001 274.18 581.71 274.13C581.6700000000001 274.07 581.6 274.04 581.5300000000001 274.04H579.2900000000001V272.48C579.2900000000001 272.01 579.5500000000001 271.77000000000004 580.07 271.77000000000004C580.1400000000001 271.77000000000004 581.5300000000001 271.77000000000004 581.5300000000001 271.77000000000004C581.6700000000001 271.77000000000004 581.7800000000001 271.66 581.7800000000001 271.53000000000003V269.24C581.7800000000001 269.11 581.6700000000001 269 581.5300000000001 269H579.5200000000001C579.5000000000001 269 579.4700000000001 269 579.4200000000001 269C579.07 269 577.8600000000001 269.07 576.9000000000001 269.93C575.8400000000001 270.88 575.9800000000001 272.02 576.0200000000001 272.22V274.04H574.2500000000001C574.1100000000001 274.04 574.0000000000001 274.15000000000003 574.0000000000001 274.29V276.75C574.0000000000001 276.88 574.1100000000001 276.99 574.2500000000001 276.99Z "
          fill-opacity="1" transform="matrix(1,0,0,1,-574,-269)"></path></symbol><symbol id="icon-vk" viewBox="0 0 24 15"><path d="M684.38 282.19C684.35 282.13 684.32 282.08 684.3 282.04C683.89 281.3 683.1099999999999 280.39000000000004 681.9599999999999 279.32L681.93 279.29L681.92 279.28000000000003L681.91 279.27000000000004H681.9C681.38 278.77000000000004 681.05 278.43000000000006 680.91 278.26000000000005C680.65 277.93000000000006 680.6 277.59000000000003 680.74 277.26000000000005C680.83 277.00000000000006 681.2 276.47 681.84 275.64000000000004C682.1700000000001 275.21000000000004 682.44 274.86000000000007 682.63 274.6C684.04 272.71000000000004 684.65 271.5 684.47 270.97L684.39 270.85C684.35 270.78000000000003 684.22 270.71000000000004 684.01 270.65000000000003C683.81 270.59000000000003 683.55 270.58000000000004 683.23 270.62000000000006L679.71 270.64000000000004C679.6500000000001 270.62000000000006 679.57 270.62000000000006 679.46 270.65000000000003C679.36 270.67 679.3000000000001 270.69000000000005 679.3000000000001 270.69000000000005L679.2400000000001 270.72L679.1900000000002 270.75C679.1500000000002 270.78 679.1100000000001 270.82 679.0600000000002 270.88C679.0100000000002 270.94 678.9700000000001 271.02 678.9400000000002 271.1C678.5500000000002 272.09000000000003 678.1200000000001 273.02000000000004 677.6300000000002 273.87C677.3300000000003 274.38 677.0500000000002 274.82 676.8000000000002 275.19C676.5400000000002 275.57 676.3300000000002 275.84 676.1600000000002 276.02C675.9900000000002 276.2 675.8300000000002 276.34 675.6900000000002 276.45C675.5600000000002 276.55 675.4500000000002 276.59999999999997 675.3800000000002 276.58C675.3000000000002 276.56 675.2300000000002 276.55 675.1700000000002 276.53C675.0500000000002 276.46 674.9600000000002 276.35999999999996 674.8900000000002 276.22999999999996C674.8200000000002 276.09999999999997 674.7800000000002 275.93999999999994 674.7500000000002 275.74999999999994C674.7300000000002 275.55999999999995 674.7100000000003 275.38999999999993 674.7100000000003 275.24999999999994C674.7100000000003 275.10999999999996 674.7100000000003 274.90999999999997 674.7200000000003 274.65999999999997C674.7200000000003 274.4 674.7300000000002 274.22999999999996 674.7300000000002 274.14C674.7300000000002 273.83 674.7300000000002 273.49 674.7500000000002 273.12C674.7600000000002 272.76 674.7700000000002 272.47 674.7800000000002 272.26C674.7900000000002 272.03999999999996 674.7900000000002 271.82 674.7900000000002 271.58C674.7900000000002 271.34 674.7700000000002 271.15 674.7500000000002 271.02C674.7200000000003 270.88 674.6800000000002 270.75 674.6200000000002 270.62C674.5600000000003 270.5 674.4800000000002 270.4 674.3700000000002 270.33C674.2600000000002 270.26 674.1200000000002 270.2 673.9600000000003 270.15999999999997C673.5300000000003 270.05999999999995 672.9700000000003 270.01 672.3100000000003 269.99999999999994C670.7900000000003 269.98999999999995 669.8100000000003 270.0799999999999 669.3800000000003 270.29999999999995C669.2100000000004 270.38999999999993 669.0600000000003 270.50999999999993 668.9200000000003 270.66999999999996C668.7700000000003 270.84999999999997 668.7500000000003 270.94999999999993 668.8600000000004 270.96C669.3400000000004 271.03999999999996 669.6900000000004 271.21 669.9000000000003 271.48999999999995L669.9700000000004 271.63999999999993C670.0300000000003 271.74999999999994 670.0800000000004 271.93999999999994 670.1400000000003 272.2099999999999C670.2000000000003 272.4799999999999 670.2300000000004 272.7799999999999 670.2500000000003 273.1099999999999C670.2900000000003 273.7099999999999 670.2900000000003 274.2199999999999 670.2500000000003 274.6499999999999C670.2100000000004 275.06999999999994 670.1700000000003 275.4099999999999 670.1300000000003 275.63999999999993C670.1000000000004 275.87999999999994 670.0400000000003 276.0799999999999 669.9700000000004 276.2199999999999C669.9000000000003 276.3699999999999 669.8500000000004 276.4599999999999 669.8200000000004 276.4899999999999C669.8000000000004 276.5299999999999 669.7800000000004 276.5499999999999 669.7600000000004 276.5599999999999C669.6500000000004 276.5999999999999 669.5400000000004 276.6199999999999 669.4300000000004 276.6199999999999C669.3200000000004 276.6199999999999 669.1800000000004 276.5599999999999 669.0100000000004 276.4399999999999C668.8500000000005 276.32999999999987 668.6800000000004 276.1699999999999 668.5100000000004 275.96999999999986C668.3300000000005 275.76999999999987 668.1300000000005 275.48999999999984 667.9100000000004 275.1299999999999C667.6900000000004 274.76999999999987 667.4600000000004 274.33999999999986 667.2300000000005 273.8499999999999L667.0300000000004 273.4899999999999C666.9100000000004 273.2599999999999 666.7400000000005 272.9199999999999 666.5300000000004 272.4799999999999C666.3200000000004 272.0399999999999 666.1300000000005 271.6199999999999 665.9700000000005 271.2099999999999C665.9000000000004 271.0399999999999 665.8000000000005 270.8999999999999 665.6700000000005 270.80999999999995L665.6100000000006 270.78C665.5700000000006 270.73999999999995 665.5100000000006 270.71 665.4200000000005 270.66999999999996C665.3300000000005 270.64 665.2300000000005 270.60999999999996 665.1400000000006 270.59L661.7800000000005 270.61999999999995C661.4400000000005 270.61999999999995 661.2100000000005 270.69999999999993 661.0900000000005 270.84999999999997L661.0400000000005 270.92999999999995C661.0100000000006 270.96999999999997 661.0000000000006 271.03 661.0000000000006 271.11999999999995C661.0000000000006 271.2099999999999 661.0200000000006 271.31999999999994 661.0700000000006 271.4599999999999C661.5600000000006 272.6099999999999 662.1000000000006 273.7299999999999 662.6700000000006 274.80999999999995C663.2500000000007 275.87999999999994 663.7400000000007 276.74999999999994 664.1700000000006 277.40999999999997C664.5900000000006 278.05999999999995 665.0300000000007 278.67999999999995 665.4700000000006 279.27C665.9100000000007 279.84999999999997 666.2000000000006 280.21999999999997 666.3400000000006 280.39C666.4800000000006 280.55 666.6000000000006 280.66999999999996 666.6800000000006 280.76L666.9800000000006 281.05C667.1800000000006 281.25 667.4700000000006 281.49 667.8500000000006 281.76C668.2300000000006 282.03999999999996 668.6500000000005 282.31 669.1100000000006 282.57C669.5700000000006 282.84 670.1000000000006 283.06 670.7100000000006 283.23C671.3300000000006 283.39000000000004 671.9200000000006 283.46000000000004 672.5000000000006 283.43H673.9100000000005C674.1900000000005 283.40000000000003 674.4100000000005 283.31 674.5600000000005 283.16L674.6100000000005 283.1C674.6400000000004 283.05 674.6700000000004 282.97 674.7000000000005 282.87C674.7300000000005 282.77 674.7400000000005 282.65 674.7400000000005 282.53000000000003C674.7300000000005 282.18 674.7600000000004 281.86 674.8200000000005 281.58000000000004C674.8800000000005 281.29 674.9500000000005 281.08000000000004 675.0300000000005 280.94000000000005C675.1100000000006 280.7900000000001 675.1900000000005 280.6700000000001 675.2900000000005 280.57000000000005C675.3900000000006 280.47 675.4600000000005 280.41 675.5000000000006 280.39000000000004C675.5400000000005 280.37000000000006 675.5700000000006 280.36000000000007 675.6000000000006 280.35C675.7900000000006 280.28000000000003 676.0200000000006 280.35 676.2900000000006 280.54C676.5500000000006 280.73 676.8000000000006 280.97 677.0300000000007 281.26000000000005C677.2700000000007 281.54 677.5500000000006 281.86000000000007 677.8700000000007 282.21000000000004C678.2000000000007 282.56000000000006 678.4800000000007 282.83000000000004 678.7300000000007 283.00000000000006L678.9700000000007 283.15000000000003C679.1400000000007 283.25000000000006 679.3500000000007 283.34000000000003 679.6100000000007 283.42C679.8700000000007 283.5 680.1000000000007 283.52000000000004 680.3000000000008 283.48L683.4300000000007 283.43C683.7400000000007 283.43 683.9800000000007 283.38 684.1500000000008 283.28000000000003C684.3200000000007 283.17 684.4200000000008 283.06 684.4600000000007 282.94000000000005C684.4900000000007 282.81000000000006 684.4900000000007 282.6700000000001 684.4600000000007 282.52000000000004C684.4300000000007 282.36 684.4000000000008 282.25000000000006 684.3800000000007 282.19000000000005Z "
          fill-opacity="1" transform="matrix(1,0,0,1,-661,-269)"></path></symbol><symbol id="icon-tw" viewBox="0 0 18 15"><path d="M776.85 270.72C776.19 271.01000000000005 775.49 271.20000000000005 774.74 271.29C775.5 270.84000000000003 776.08 270.12 776.35 269.27000000000004C775.65 269.69000000000005 774.86 269.99000000000007 774.03 270.16C773.36 269.44 772.41 269 771.36 269C768.99 269 767.26 271.21 767.79 273.5C764.75 273.34 762.05 271.89 760.24 269.67C759.28 271.32 759.75 273.47 761.38 274.56C760.78 274.54 760.21 274.38 759.72 274.1C759.6800000000001 275.8 760.89 277.38 762.65 277.74C762.14 277.88 761.5699999999999 277.91 761 277.8C761.47 279.25 762.82 280.31 764.42 280.34000000000003C762.88 281.55 760.9399999999999 282.09000000000003 759 281.86C760.62 282.90000000000003 762.55 283.5 764.61 283.5C771.41 283.5 775.25 277.76 775.02 272.61C775.74 272.1 776.36 271.45 776.85 270.72Z "
          fill-opacity="1" transform="matrix(1,0,0,1,-759,-269)"></path></symbol><symbol id="icon-li" viewBox="0 0 16 15"><path d="M858.32 270.63C858.32 269.73 857.58 269 856.6700000000001 269C855.7500000000001 269 855.0100000000001 269.73 855.0100000000001 270.63C855.0100000000001 271.53 855.7500000000001 272.26 856.6700000000001 272.26C857.58 272.26 858.32 271.53 858.32 270.63ZM855 273.57V284H858.33V273.57ZM863.65 273.57V274.96999999999997C865.05 272.44 871 272.24999999999994 871 277.39V284H867.67V278.52C867.67 275.22999999999996 863.66 275.47999999999996 863.66 278.52V284H860.3399999999999V273.57Z "
          fill-opacity="1" transform="matrix(1,0,0,1,-855,-269)"></path></symbol><symbol id="icon-check" viewbox="0 0 1097 1024"><path class="path1" d="M1030.583 0c-81.189 51.931-187.246 160.914-257.463 229.669-140.434 137.509-275.017 281.6-407.406 427.154l-265.509-254.537-100.206 108.983c145.554 160.183 303.543 333.531 432.274 512.731 164.571-298.423 433.737-725.577 664.869-950.857-7.314-16.823-39.497-75.337-66.56-73.143z"></path></symbol><symbol id="icon-comment" viewBox="0 0 14 12"><path d="M583.6 197C580.64 197 578 198.92 578 201.56C578 202.49 578.34 203.4 578.95 204.12C578.98 204.95000000000002 578.48 206.15 578.0300000000001 207.01C579.2400000000001 206.79999999999998 580.9700000000001 206.32999999999998 581.7500000000001 205.85999999999999C586.0600000000001 206.88 589.2000000000002 204.30999999999997 589.2000000000002 201.55999999999997C589.2000000000002 198.90999999999997 586.5400000000002 196.99999999999997 583.6000000000001 196.99999999999997ZM591.42 209C590.63 208.86 589.5 208.55 588.99 208.24C587.15 208.68 585.59 208.12 584.74 207.10000000000002C585.08 207.05 585.4 206.99 585.72 206.90000000000003C586.74 207.75000000000003 587.94 207.65000000000003 589.13 207.37000000000003C589.51 207.60000000000002 589.56 207.64000000000004 590.06 207.81000000000003C589.9599999999999 207.37000000000003 589.9699999999999 207.20000000000002 589.9799999999999 206.79000000000002C590.9899999999999 205.63000000000002 590.6599999999999 204.55 589.7199999999999 203.87000000000003C589.8599999999999 203.62000000000003 589.9699999999999 203.36000000000004 590.06 203.09000000000003C591.68 204.14000000000004 591.8 205.96000000000004 590.8199999999999 207.10000000000002C590.8 207.65000000000003 591.1299999999999 208.43000000000004 591.42 209.00000000000003Z "
          fill-opacity="1" transform="matrix(1,0,0,1,-578,-197)"></path></symbol></defs></svg><!-- Menu--><div class="main-menu"><div class="main-menu__container"><div class="main-menu__head"><div class="menu-trigger menu-main-menu"><div class="menu-trigger__hamburger"><span></span><span></span><span></span><span></span></div><span>Меню</span></div></div><div class="main-menu__body"><form class="search-bar-small" method="get" action="search.html"><label><svg class="icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg><input class="animatedPlaceholder" type="text" placeholder="Поиск"></label></form><nav class="main-menu__navigation"><a href="#!">МАСТЕРА</a><a href="#!">САЛОНЫ</a><a href="#!">АКЦИИ</a></nav><div class="main-menu__cities dropdown city list"><div class="dropdown__title"><span class="selected">ВЫБЕРИТЕ ГОРОД</span><div class="triangle"></div></div><div class="dropdown__body"><ul class="dropdown__body-inner"><li data-city-id="1">Киев</li><li data-city-id="2">Харьков</li><li data-city-id="3">Одесса</li><li data-city-id="4">Днепр</li><li data-city-id="5">Донецк</li><li data-city-id="6">Запорожье</li><li data-city-id="7">Львов</li><li data-city-id="8">Кривой Рог</li><li data-city-id="9">Николаев</li><li data-city-id="10">Мариуполь</li><li data-city-id="11">Луганск</li><li data-city-id="12">Винница</li><li data-city-id="13">Макеевка</li><li data-city-id="14">Севастополь</li><li data-city-id="15">Симферополь</li><li data-city-id="16">Херсон</li><li data-city-id="17">Херсон</li><li data-city-id="18">Чернигов</li><li data-city-id="19">Полтава</li><li data-city-id="20">Черкассы</li><li data-city-id="21">Хмельницкий</li><li data-city-id="22">Сумы</li><li data-city-id="23">Житомир</li></ul></div></div><a class="main-menu__action-button">Войти</a><a class="main-menu__action-button">Зарегистрироваться</a></div></div></div><!-- Header--><header><div class="wrapper"><div class="menu-trigger menu-header pull-left"><div class="menu-trigger__hamburger"><span></span><span></span><span></span><span></span></div><span>Меню</span></div><div class="left-side pull-left"><nav class="navigation navigation-header"><ul class="links"><li><a href="#!">МАСТЕРА</a></li><li><a href="#!">САЛОНЫ</a></li><li><a href="#!">АКЦИИ</a></li><li class="dropdown city"><div class="dropdown__title"><span class="selected">ВЫБЕРИТЕ ГОРОД</span><div class="triangle"></div></div><div class="dropdown__body"><div class="dropdown__body-inner"><ul><li data-city-id="1">Киев</li><li data-city-id="2">Харьков</li><li data-city-id="3">Одесса</li><li data-city-id="4">Днепр</li><li data-city-id="5">Донецк</li><li data-city-id="6">Запорожье</li><li data-city-id="7">Львов</li><li data-city-id="8">Кривой Рог</li><li data-city-id="9">Николаев</li></ul><ul><li data-city-id="10">Мариуполь</li><li data-city-id="11">Луганск</li><li data-city-id="12">Винница</li><li data-city-id="13">Макеевка</li><li data-city-id="14">Севастополь</li><li data-city-id="15">Симферополь</li><li data-city-id="16">Херсон</li><li data-city-id="17">Херсон</li></ul><ul><li data-city-id="18">Чернигов</li><li data-city-id="19">Полтава</li><li data-city-id="20">Черкассы</li><li data-city-id="21">Хмельницкий</li><li data-city-id="22">Сумы</li><li data-city-id="23">Житомир</li></ul></div></div></li></ul></nav></div><div class="right-side pull-right"><form class="search-bar-small" method="get" action="search.html"><label><svg class="icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg><input class="animatedPlaceholder" type="text" placeholder="Поиск"></label></form><div class="user-profile has-new-messages dropdown user-logged"><div class="dropdown__title"><img src="pic/user-photo-header.png"><div class="new-messages">+5</div></div><div class="dropdown__body"><div class="dropdown__body-inner"><a href="#!">Мои сообщения<span class="new-messages">5</span></a><a href="#!">Редакт. профиль</a><a href="#!">Сменить пароль</a><a href="#!">Список моих услуг</a><a href="#!">Список моих акций</a><a href="#!">Отзывы от клиентов</a></div></div></div><a class="action-button" href="#!">Войти</a></div></div></header><!-- Main--><main data-page="authorization"><div class="wrapper"><section class="sign-up"><h1 class="title">Пройдите регистрацию</h1><form class="authorization-box signup"><div class="authorization-box__head"><label class="user"><input type="radio" name="type" value="user" checked><div class="button">Я пользователь</div></label><label class="specialist"><input type="radio" name="type" value="specialist"><div class="button">Я специалист</div></label><label class="saloon"><input type="radio" name="type" value="saloon"><div class="button">Я представляю салон</div></label></div><div class="authorization-box__fields"><label class="form-input userName" data-validation="required" data-validation-type="text"><span class="label-title">Имя</span><input class="animatedPlaceholder" type="text" placeholder="Введите имя" name="userName" data-validation-condition="min-length" data-min-length="1"><div class="error"></div></label><label class="form-input userEmail" data-validation="required" data-validation-type="email"><span class="label-title">E-mail</span><input class="animatedPlaceholder" type="email" placeholder="Введите E-mail" name="userEmail"><div class="error"></div></label><label class="form-input userPassword" data-validation="required" data-validation-type="text" data-validation-text="Минимальная длинна пароля - 6 символов"><span class="label-title">Пароль</span><input class="animatedPlaceholder" type="password" placeholder="Придумайте пароль" name="userPassword" data-validation-condition="min-length" data-min-length="6"><div class="error"></div></label><label class="form-input captcha" data-validation="required" data-validation-type="text" data-validation-text="Код не совпадает с кодом на картинке"><span class="label-title">Код с картинки</span><div class="input-container"><img class="captcha" src="img/captcha.png"><input class="animatedPlaceholder" type="text" placeholder="Введите код" name="captcha" data-validation-condition="equals" data-equals="zQSg2"></div><div class="error"></div></label></div><button class="authorization-box__button validate-form-button" type="submit">Зарегистрироваться</button></form></section></div></main><!-- Footer--><footer><div class="wrapper"><div class="menu-trigger menu-footer pull-left"><div class="menu-trigger__hamburger"><span></span><span></span><span></span><span></span></div><span>Меню</span></div><div class="left-side pull-left"><div class="copyright">Copyright © 2016</div></div><div class="right-side pull-right"><nav class="navigation navigation-footer"><ul class="links"><li><a href="#!">МАСТЕРА</a></li><li><a href="#!">САЛОНЫ</a></li><li><a href="#!">АКЦИИ</a></li><li class="dropdown city"><div class="dropdown__title"><span class="selected">ВЫБЕРИТЕ ГОРОД</span><div class="triangle"></div></div><div class="dropdown__body"><div class="dropdown__body-inner"><ul><li data-city-id="1">Киев</li><li data-city-id="2">Харьков</li><li data-city-id="3">Одесса</li><li data-city-id="4">Днепр</li><li data-city-id="5">Донецк</li><li data-city-id="6">Запорожье</li><li data-city-id="7">Львов</li><li data-city-id="8">Кривой Рог</li><li data-city-id="9">Николаев</li></ul><ul><li data-city-id="10">Мариуполь</li><li data-city-id="11">Луганск</li><li data-city-id="12">Винница</li><li data-city-id="13">Макеевка</li><li data-city-id="14">Севастополь</li><li data-city-id="15">Симферополь</li><li data-city-id="16">Херсон</li><li data-city-id="17">Херсон</li></ul><ul><li data-city-id="18">Чернигов</li><li data-city-id="19">Полтава</li><li data-city-id="20">Черкассы</li><li data-city-id="21">Хмельницкий</li><li data-city-id="22">Сумы</li><li data-city-id="23">Житомир</li></ul></div></div></li></ul></nav><div class="user-profile dropdown user-logged"><div class="dropdown__title"><img src="pic/user-photo-header.png"></div><div class="dropdown__body"><div class="dropdown__body-inner"><a href="#!">Мои сообщения</a><a href="#!">Редакт. профиль</a><a href="#!">Сменить пароль</a><a href="#!">Список моих услуг</a><a href="#!">Список моих акций</a><a href="#!">Отзывы от клиентов</a></div></div></div><a class="action-button" href="#!">Выйти</a></div></div></footer><!-- Scripts--><script src="js/index.bundle.js?v=1.0.0"></script></body></html>
